body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  background-color: red;
  border: none;
  color: white;
  border-radius: 4px;
  margin: 20px 0 0 75px;
  padding: 10px 15px;
  text-align: center;
  display: inline-block;
  font-size: 14px;
  opacity: 75%;
}

button:hover {
  opacity: 100%;
}
